@import '../services/styles/variables.scss';
@import '../services/styles/mixin.scss';

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: $background_color_contrast;
}

.title {
  color: $h1_text_color;
  font-size: $h1_font_size;
  line-height: $h1_line_height;
}
