@use '../shared/ui/styles/variables.scss' as *;
@use '../shared/ui/styles/mixin.scss' as *;

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: $background_color_contrast;
  box-sizing: border-box;
}

.container {
  background-color: $background_color_main;
  box-shadow: 0 2px 2px 1px $background_color_second;
  min-width: 60%;
} 

.article {
  background-color: $background_color_main;
  box-shadow: 0 2px 2px 1px $background_color_second;
  min-width: 60%;
}


.title {
  color: $h1_text_color;
  font-size: $h1_font_size;
  line-height: $h1_line_height;
  text-align: center
}

.text {
  @include clearAll;
  font-size: $main_font_size;
  line-height: $main_line_height;
 
  
  &_completed{
    text-decoration: line-through;
    color: $background_color_second;
  }
}

.ul {
  @include ul;
  border-top: 1px solid $background_color_contrast;
  box-shadow: 0px -2px 4px $background_color_second;

  &__li {
    border-bottom: 1px solid $background_color_contrast;
  }
}

.infoLine {
  @include flexString;
}

.footer {
  display: flex;
  margin: 8px;
  width: calc(100% - 16px);
  justify-content: space-between;
  align-items: center;

  font-size: $sub_font_size;
  line-height: $sub_line_height;
  color: $background_color_second;

  &__radiobox {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
}